.Rproj.user
.Rhistory
.RData
.Ruserdata
todo.txt
.Renviron

# knitr and R markdown default cache directories
*_cache/
/cache/

# recommended by blogdown::check_site()
.DS_Store
Thumbs.db

# when netlify builds the site can add to ignore
/public/
/resources/