{{ partial "header.html" . }}

<main class="content" role="main">

  <article class="article">
    {{ if and (eq .Section "post") (lt .ReadingTime 17)}} 
    <span class="article-duration">{{ .ReadingTime }} min read</span>
    {{ end }}

    <h1 class="article-title">{{ .Title }}</h1>

    {{ if eq .Section "post" }}
    <p class="terms">
      {{ range $i := (slice "tags") }}
      {{ with ($.Param $i) }}
      {{ $i | title }}:
      {{ range $k := . }}
      <a href='{{ relURL (print "/" $i "/" $k | urlize) }}'>{{$k}}</a>
      {{ end }}
      {{ end }}
      {{ end }}
    </p>
    
    <span class="article-date">{{ .Date.Format "2006-01-02" }}</span>
    
    {{ partial "header_maincodefolding" . }}

    {{ end }}
    
    <div class="article-content">
      {{ .Content }}
    </div>
  </article>

  {{ partial "disqus.html" .}}

</main>

{{ partial "footer.html" . }}
